<md-content>

  <md-card layout="column">

    <md-card-header flex="none">
      <h3>Wine collection...</h3>
    </md-card-header>

    <md-card-content flex="auto">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete md-no-cache="true" md-delay="100" md-min-length="1" ng-trim="false" md-selected-item="vm.query" md-search-text="vm.query"
          md-items="item in vm.searchWines(vm.query)" md-item-text="item.name" placeholder="Search for a wine...">
          <md-item-template>
            <span md-highlight-text="vm.query" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
          <md-not-found>
            No wine matching "{{vm.query}}" found...
          </md-not-found>
        </md-autocomplete>
      </form>

      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="wine in vm.wines" ng-click="vm.showDetails(wine.id)">
          <img ng-src="/assets/images/bottle{{wine.img}}.png" class="bottle" alt="{{wine.name}} Image" />
          <div class="md-list-item-text" layout="column">
            <div layout="row" layout-align="space-between center">
              <h3>{{wine.name}}</h3>
              <h4>{{wine.year}}</h4>
            </div>
            <p>{{wine.description}}</p>
          </div>
        </md-list-item>
      </md-list>

    </md-card-content>

    <md-card-actions flex="none" layout="row" layout-align="end center">
      <md-button class="md-raised md-warn">Add</md-button>
    </md-card-actions>

  </md-card>

</md-content>
